################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Remote-Host-File-Updater/bin/Debug
/Remote-Host-File-Updater/obj/Debug
